

.inputone {
	padding: 20px;
	margin-top: 10px;
}

.inputtwo {
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button {
	margin-top: 10px;
	margin-bottom: 10px;
}

.clearbutton {
	margin-top: 10px;
	margin-bottom: 30px;
}