.row {
	width: 30%;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 40px;
	box-shadow: 5px 5px 15px #000;
}

.inputone {
	padding: 20px;
	margin-top: 10px;
}

.inputtwo {
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button {
	margin-top: 10px;
	margin-bottom: 10px;
}

.clearbutton {
	margin-top: 10px;
	margin-bottom: 30px;
}